//primary
$orange: hsl(25, 97%, 53%);
//neutral
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(228, 11%, 9%);
//font-weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: $very-dark-blue;
  color: $white;
  display: grid;
  place-content: center;
  height: 100vh;
  height: 100dvh;

  main {
    width: clamp(326px, 80vw, 410px);
    margin-bottom: 20px;

    .container {
      background-image: linear-gradient(0deg, rgba(#171E28, 1) 0%, rgba(#222933, 1) 100%);
      box-shadow: 0px -87px 100px -20px rgba(23, 30, 40, 1) inset;
      border-radius: clamp(12px, 3vw, 30px);
      padding-block: clamp(24px, 3vw, 32px) 16px;
      padding-inline: clamp(24px, 3vw, 32px) clamp(24px, 3vw, 38px);

      .description {
        font-size: clamp(14px, 3vw, 15px);
        line-height: 1.6;
        color: $light-grey;
      }

      h1 {
        margin-top: clamp(20px, 3vw, 32px);
        margin-bottom: 10px;
        font-weight: $fw-500;
        font-size: clamp(24px, 5vw, 28px);
      }

      button {
          font-weight: $fw-400;
          font-family: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .rate-card {
        // display: none;

        .icon-wrapper {
          background-color: #262F38;
          width: clamp(40px, 5vw, 48px);
          height: clamp(40px, 5vw, 48px);
          border-radius: 100%;
          display: grid;
          place-content: center;
          img {
            width: clamp(14px, 2vw, 17px);
            height: clamp(13px, 2vw, 16px);
          }
        }

        .description {
          margin-bottom: 26px;
        }

        .rate-wrapper {
          display: flex;
          justify-content: space-between;

          .rate {
            background-color: #262F38;
            width: clamp(42px, 10vw, 50px);
            height: clamp(42px, 10vw, 50px);
            border-radius: 100%;
            color: $light-grey;
            font-weight: $fw-500;
            font-size: clamp(13px, 3vw, 16px);
            cursor: pointer;
            transition: .2s ease-in-out background-color, color;

            &:hover {
              background-color: $medium-grey;
              color: $white;
              transition: .2s ease-in-out background-color, color;
            }
            
            &:active {
              background-color: $orange;
              color: $white;
              transition: .2s ease-in-out background-color, color;
            }
          }
        }

        .submit {
          letter-spacing: 2px;
          margin-top: clamp(24px, 3vw, 32px);
          margin-bottom: 16px;
          width: 100%;
          background-color: $orange;
          padding: 16px 0;
          line-height: 1;
          border-radius: 30px;
          text-transform: uppercase;
          color: $white;
          font-size: clamp(14px, 3vw, 15px);
          transition: .2s ease-in-out background-color, color;

          &:hover {
            background-color: $white;
            color: $orange;
            cursor: pointer;
            transition: .2s ease-in-out background-color, color;
          }
        }
      }

      .thanks-card {
        display: none;
        // display: flex;
        flex-direction: column;
        text-align: center;

        .img-wrapper,
        .text-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .img-wrapper {
          margin: 12px 0 clamp(24px, 3vw, 32px);

          img {
          width: clamp(144px, 30vw, 162px);
          }
        }

        .text-wrapper .selected-rate {
          color: hsl(25, 60%, 59%);
          padding: 8px clamp(12px, 2vw, 18px);
          background-color: #262F38;
          border-radius: 20px;
          font-size: clamp(14px, 2vw, 15px);
        }

        h1 {
          margin-top: clamp(26px, 3vw, 32px);
        }

        .description {
          margin-bottom: 18px;
        }
      }
    }
  }
}



.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(25, 60%, 59%);
  }
}