*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: hsl(213, 44%, 95%);
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-content: center;
}
body main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  grid-template-areas: "card-1 card-1 card-2 card-5" "card-3 card-4 card-4 card-5";
  row-gap: 24px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.container {
  display: grid;
  place-content: center;
  width: clamp(326px, 87vw, 1110px);
  margin-bottom: 20px;
}

.card {
  height: auto;
  width: 100%;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
  padding: 24px 30px 28px 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 30px 50px 50px -30px rgba(25, 33, 46, 0.2);
}
.card h1 {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.3;
  margin-bottom: 16px;
}
.card h1 + p {
  line-height: 1.4;
  font-size: 13px;
  opacity: 0.7;
  font-weight: 300;
}

.card1 {
  color: #FFF7FF;
  grid-area: card-1;
  background: hsl(263, 55%, 52%) url(./images/bg-pattern-quotation.svg) no-repeat top right clamp(24px, 6vw, 80px);
}
.card1 img {
  border: rgba(255, 255, 255, 0.3) 2px solid;
}
.card1 h1 + p {
  letter-spacing: 0.2px;
}

.card:not(.card1, .card4) .img-wrapper {
  width: 28px;
  height: 28px;
}

.card:not(.card1, .card2) {
  padding-bottom: 24px;
}
.card:not(.card1, .card2) .creator-wrapper {
  margin-bottom: 18px;
}
.card:not(.card1, .card2) h1 {
  margin-bottom: 22px;
}

.card2 {
  grid-area: card-2;
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
.card2 h1 + p {
  letter-spacing: 0.2px;
}

.card3, .card5 {
  color: hsl(217, 19%, 35%);
}
.card3 h1 + p, .card5 h1 + p {
  font-weight: 500;
}

.card3 {
  grid-area: card-3;
}
.card3 h1 + p {
  letter-spacing: 0.2px;
}

.card4 {
  background-color: hsl(219, 29%, 14%);
  grid-area: card-4;
  color: #ECF3FD;
}
.card4 img {
  border: rgba(117, 65, 200, 0.9) 2px solid;
}
.card4 h1 + p {
  letter-spacing: 0.2px;
}

.card5 {
  grid-area: card-5;
}

.creator-wrapper {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.img-wrapper {
  width: 32px;
  height: 32px;
}
.img-wrapper img {
  width: inherit;
  height: inherit;
  border-radius: 100%;
}

.name-wrapper h2 {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
}
.name-wrapper h2 + p {
  font-size: 11px;
  opacity: 0.5;
  font-weight: 400;
  line-height: 1.2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1024px) {
  body {
    height: 100%;
    margin-block: 70px;
  }
  body .container main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "card-1 card-1 card-2" "card-3 card-4 card-4" "card-5 card-5 card-5";
  }
}
@media screen and (max-width: 768px) {
  body .container main {
    grid-template-columns: 1fr;
    grid-template-areas: "card-1" "card-2" "card-3" "card-4" "card-5";
  }
  body .container main .card:not(.card1, .card2) {
    padding-bottom: 28px;
  }
  body .container main .card:not(.card1, .card2) .creator-wrapper {
    margin-bottom: 18px;
  }
  body .container main .card:not(.card1, .card2) h1 {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=style.css.map */