*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: hsl(213, 44%, 95%);
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-content: center;
}
body main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  grid-template-areas: "card-1 card-1 card-2 card-5" "card-3 card-4 card-4 card-5";
  row-gap: 1.5rem;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.container {
  display: grid;
  place-content: center;
  width: clamp(20.375rem, 87vw, 69.375rem);
  margin-bottom: 1.25rem;
}

.card {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 1.875rem 1.75rem 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1.875rem 3.125rem 3.125rem -1.875rem rgba(25, 33, 46, 0.2);
}
.card h1 {
  font-size: 1.1875rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.card h1 + p {
  line-height: 1.4;
  font-size: 0.8125rem;
  opacity: 0.7;
  font-weight: 300;
}

.card1 {
  color: #FFF7FF;
  grid-area: card-1;
  background: hsl(263, 55%, 52%) url(./images/bg-pattern-quotation.svg) no-repeat top right clamp(1.5rem, 6vw, 5rem);
}
.card1 img {
  border: rgba(255, 255, 255, 0.3) 0.125rem solid;
}
.card1 h1 + p {
  letter-spacing: 0.0125rem;
}

.card:not(.card1, .card4) .img-wrapper {
  width: 1.75rem;
  height: 1.75rem;
}

.card:not(.card1, .card2) {
  padding-bottom: 1.5rem;
}
.card:not(.card1, .card2) .creator-wrapper {
  margin-bottom: 1.125rem;
}
.card:not(.card1, .card2) h1 {
  margin-bottom: 1.375rem;
}

.card2 {
  grid-area: card-2;
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
.card2 h1 + p {
  letter-spacing: 0.0125rem;
}

.card3, .card5 {
  color: hsl(217, 19%, 35%);
}
.card3 h1 + p, .card5 h1 + p {
  font-weight: 500;
}

.card3 {
  grid-area: card-3;
}
.card3 h1 + p {
  letter-spacing: 0.0125rem;
}

.card4 {
  background-color: hsl(219, 29%, 14%);
  grid-area: card-4;
  color: #ECF3FD;
}
.card4 img {
  border: rgba(117, 65, 200, 0.9) 0.125rem solid;
}
.card4 h1 + p {
  letter-spacing: 0.0125rem;
}

.card5 {
  grid-area: card-5;
}

.creator-wrapper {
  margin-bottom: 1.125rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-wrapper {
  width: 2rem;
  height: 2rem;
}
.img-wrapper img {
  width: inherit;
  height: inherit;
  border-radius: 100%;
}

.name-wrapper h2 {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.3;
}
.name-wrapper h2 + p {
  font-size: 0.6875rem;
  opacity: 0.5;
  font-weight: 400;
  line-height: 1.2;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 64rem) {
  body {
    height: 100%;
    margin-block: 4.375rem;
  }
  body .container main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "card-1 card-1 card-2" "card-3 card-4 card-4" "card-5 card-5 card-5";
  }
}
@media screen and (max-width: 48rem) {
  body .container main {
    grid-template-columns: 1fr;
    grid-template-areas: "card-1" "card-2" "card-3" "card-4" "card-5";
  }
  body .container main .card:not(.card1, .card2) {
    padding-bottom: 1.75rem;
  }
  body .container main .card:not(.card1, .card2) .creator-wrapper {
    margin-bottom: 1.125rem;
  }
  body .container main .card:not(.card1, .card2) h1 {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */